:root{
    --red: rgb(255, 0, 0);
    --blue: #2E74FC;
    --orange: #EB6209;
    --black: #292742;
    --black_classic: #000000;
    --black_text: #656475;
    --white: #ffffff;
    --background_gray: #f3f3f6;
    --indent: 3vw;

    --h5: 1.2vw;
}
html {
    -webkit-text-size-adjust: none;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Oswald', sans-serif;
    color: var(--black);
    width: 100vw;
    background: #E5E5E5;
}
.wraper{
    width: 100%;
}

.y-hidden {
    overflow-y:hidden;
    /* -webkit-overflow-scrolling: touch; */
    touch-action: none;
    -ms-touch-action: none;
    height: 50vh;
}


ul{
    margin: 0;
    padding: 0;
}
h2{
    /* font-size: 70px; */
    text-transform: uppercase;
    font-size: 4.3vw;
    line-height: 5.5vw;
    margin: 0;
    font-weight: 400;
}
h3{
    /* font-size: 32px; */
    font-size: 2.1vw;
    line-height: 2.8vw;
    text-transform: uppercase;
    margin: 0;
    font-weight: 400;
}
h4{
    /* font-size: 24px; */
    font-size: 1.6vw;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
}
h5{
    /* font-size: 17px; */
    font-size: var(--h5);
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
}
p {
    /* font-size: 16px; */
    font-size: 1vw;
    margin: 0.2vw 0;
    line-height: 1.5vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: var(--black_text);
}
button{
    border:none;
    background: none;
    padding: 0;
}




.center{
    text-align: center;
}

.w-70{
    width: 70%!important;
}

.none{
    display: none!important;
}

.mob{
    display: none;
}
.desc{
    display: block;
}

.close {
    width: 3vw;
    height: 3vw;
    cursor: pointer;
}

.button_support {
    background-color: var(--blue);
    border-radius: 4vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    height: 5vw;
}
.button_support h4 {
    color: var(--white);
    margin: 0;
    padding: 0 1.5vw 0 2.5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Oswald', sans-serif;
}
.button_support img{
    height: 100%;
    position: relative;
}

.slider_navigation-next, .slider_navigation-prev{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    border: 0.15vw solid var(--blue);
    cursor: pointer;
    position: static;
}
.slider_navigation-next{
    border-color: transparent;

}
.slider_navigation-prev{
    -webkit-transform: 180deg;
        -ms-transform: 180deg;
            transform: 180deg;
}
.slider_navigation-next img, .slider_navigation-prev img{
    width: .8vw;
}
.slider_navigation-next::after,
.slider_navigation-prev::after{
    display: none;
}


@media screen and (max-width: 1024px) { 
    :root{
        --h5: 2.2vw;
    }
    h2 {
        font-size: 9vw;
        line-height: 12vw;
    }
    h3 {
        font-size: 4.8vw;
        line-height: 6.5vw;
    }
    h4 {
        font-size: 3.3vw;
       
    }
    p {
        font-size: 2vw;
        margin: 0;
        line-height: 3.5vw;
    }

    .button_support {
        border-radius: 6vw;
        height: 12vw;
    }
    .slider_navigation-next, .slider_navigation-prev {
        width: 10vw;
        height: 10vw;
    }
    .slider_navigation-next img, .slider_navigation-prev img {
        width: 1.5vw;
    }
    
}


@media screen and (max-width: 768px){
    :root {
        --h1: 10vw;
        --h5: 4vw;
    }
    h2 {
        font-size: 11vw;
        line-height: 13.5vw;
    }
    h3 {
        font-size: 6vw;
        line-height: 9vw;
    }
    h4 {
        font-size: 5.5vw;
    }
    p {
        font-size: 3vw;
        margin: 0;
        line-height: 5vw;
    }
    .mob{
        display: block;
    }
    .desc{
        display: none;
    }
    .button_support {
        border-radius: 6vw;
        height: 12vw;
        width: 100%;
        margin: 0 var(--indent);
        border-radius: 12vw;
        height: 20vw;
    }
    .slider_navigation-prev,
    .slider_navigation-next {
        /* margin: calc(var(--indent) * .5) 0; */
        width: 14vw;
        height: 14vw;
        margin: 0;
    }
    .slider_navigation-next img, .slider_navigation-prev img {
        width: 2.2vw;
    }
}